@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lato&family=Oswald&family=Raleway:wght@300;400;500&display=swap');

/* ----------------- FONT FAMILIES
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  /* white-space: pre; */
  font-family: 'Inconsolata', monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 90px;
  height: 90px;
}

h1 {
  color: #26a9c1;
  padding: 2rem;
  margin-top: 5rem;
  text-align: center;

  font-size: 4.3rem;

  border: 3px solid rgba(23, 21, 21, 0.8);
  border-bottom: 5px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 6px 5px rgba(38, 169, 193, 0.7);
}

#signup,
#login {
  font-size: 3rem;
  text-align: center;
  /* color: rgba(134, 38, 193); */

  padding: 0.5rem;

  border: 1px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(47, 220, 223, 0.7);

  transition: all 0.3s;
}

#signup:hover,
#login:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px rgba(134, 38, 193, 0.7);
}

/* ----------------------- FORMS */
input {
  outline: none;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(247, 136, 18, 0.5);
}

/* ----------------------------------------------------------------- PRIMITIVES ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */

/* ------------------------------------------------ CENTER / WIDTH  */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 25rem;
}

.width-md {
  max-width: 50rem;
}

.width-lg {
  max-width: 60rem;
}

/* ------------------------------------------------ MARGIN STACKS  */
.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

/* ------------------------------------------------ HORIZONTAL ALIGNMENT  */
.row {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}
